<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Flask Example Input Form</title>
    </head>
    <body>
	    <h3>Flask|Python|Psycopg2|PostgreSQL</h3>

	    <h4>Example 1</h4>
        <form action="/venue-handler" method="POST">
            <div>
                Find all the events at this venue_id
                <input type="text" name="venue_id">
            </div>
                <input type="submit" value="Submit">
        </form>

	    <h4>Example 2</h4>
        <form action="/query-handler" method="POST">
            <div>
		        Enter any PostgreSQL command, terminated with a semicolon
                <br />
	            Example query: SELECT * FROM countries;
		        <input type="text" name="query">
            </div>
                <input type="submit" value="Submit">
        </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
